* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    font-size: 125%;
    font-family: 'Playwrite De Grund', 'Segoe UI Emoji';
  
    --font-size-1: 2.25rem;
    --font-size-2: 1.75rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1rem;
    --font-size-5: 0.75rem;

    --color-green-1: #2a966d;
    --color-green-2: #28664e;
    --color-green-3: #12271f;

    --color-pink-1: #df3383;

    --color-black-1: #282e2c; 

}