<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Welcome to my website!</span>
                <span class="title2">My name is Hiohana Dall'Agnol, I am a software development student, and this is the
                    page of my portfolio</span>
            </h1>


            <p class="paragraph">I am glad you made it this far. To learn more about me, other projects, and technical
                skills, see below.
            </p>

            <div class="buttons">

                <a href="#about"><i class="material-symbols-outlined">sentiment_very_satisfied</i>about me</a>
                <a href="#skills"><i class="material-symbols-outlined">dvr</i>skills</a>
            </div>
        </div>

    </section>

    <section id="about" class="container about">
        <div class="box">
            <div class="img">
                <img src="./assets/imgs/profile.jpg" alt="hiohana photo">
            </div>
            <div class="text">
                <h2>About Me</h2>
                <h3>Lorem ipsum dolor sit amet. Et galisum corporis aut fugit eaque et praesentium maiores. Eos animi
                    saepe eos fugit omnis est Quis quas. Non dolores inventore qui fugiat odit qui quos perspiciatis sit
                    harum sint ea tenetur tempora vel tempora fugit! <b>negrito</b> Et voluptas consequuntur est
                    repellat quia est
                    minus temporibus est quaerat voluptatem. ☺️
                </h3>
                <p>
                    Vel laborum alias aut doloremque minus in consectetur recusandae et assumenda eaque. In aliquid
                    asperiores sed sunt deserunt est maiores cumque est voluptatum similique ea consequuntur adipisci
                    eum sequi ratione ut voluptas distinctio. <b>negrito</b> Ut numquam officia sit amet dolore sed
                    dolore atque.
                </p>
                <p>
                    Et distinctio esse in Quis officiis ut maxime libero vel sint repellendus non inventore debitis ut
                    omnis deleniti ab corporis quis. Ea officiis vitae ea nesciunt magnam aut tempore nulla est
                    necessitatibus animi! <b>negrito</b> Qui necessitatibus vero et accusamus blanditiis et nostrum
                    adipisci non
                    dolores voluptatum. ☺️
                </p>
                <a href="#contact">contact me!</a>

            </div>

        </div>
    </section>
</main>