<main>
    <section id="banner" class="banner">
        <div class="box">
            <h1>
                <span class="title1">Welcome to my website!</span>
                <span class="title2">My name is Hiohana Dall'Agnol, I am a software development student, and this is the
                    page of my portfolio</span>
            </h1>


            <p class="paragraph">I am glad you made it this far. To learn more about me, other projects, and technical
                skills, see below.
            </p>

            <div class="buttons">

                <a href="#about"><i class="material-symbols-outlined">sentiment_very_satisfied</i>about me</a>
                <a href="#skills"><i class="material-symbols-outlined">dvr</i>skills</a>
            </div>
        </div>

    </section>
</main>